.tag-q{
    max-width: 74px;
}

.tag-24{
    max-width: 74px;
}

.tag-p{
    max-width: 137px;
}

.tag-a{
    max-width: 107px;
}

.tag-t{
    max-width: 94px;
}

.tag-b{
    max-width: 87px;
}

.tag-v{
    max-width: 76px;
}

.tag-g{
    max-width: 78px;
}
.card:hover{
    opacity: 0.6;
    filter: alpha(opacity=50);
    transform: scale(1.1);
    z-index: 9999;
}