.menuopt a{
    font-family: 'Roboto', sans-serif;
}

.menuopt {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7E4F4F;
}

.menuopt li {
    float: right;
}

.menuopt li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.menuopt li a:hover {
    background-color: #C7A6A6;
}

#logo{
    margin: auto auto;
    padding: 10px;
}

body {
    margin: 0;
}