nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {
    background-color: #7E4F4F!important;
}
.nav-link{
    text-align: center;
}
.navbar-nav{
    font-family: 'Open Sans', sans-serif;
    font-size: 15pt;
    text-transform: lowercase;
    letter-spacing: 2px;
}
a.nav-link{
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.navbar-nav a:hover{
    text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255, .8) !important;
}
