/* On Both */

/*
nav ul{
    list-style: none;
    padding: 0;
}
nav ul li {
    position: relative;
    display: inline-block;
    padding: 3px; 
}
nav ul li a {
    text-align: center;
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: underline; 
}*/
nav{
    display:none;
}
a{
    font-family: 'Roboto', sans-serif;
}
nav table {
    display: none;
    position: absolute;
    width: 310px;
    height: 80px;
    border: none;
}

nav table td {
    width: 77px;
    text-align: center;
}

.icon {
    padding-top: 5px;
    width: 58px;
    height: 48px;
}


.profile{
    background-color: #635D5D;
    padding-bottom: 8px;
}

.explore{
    background-color: #9F7676;
    padding-bottom: 8px;
}

.search{
    background-color: #C7A6A6;
    padding-bottom: 8px;
}

.more{
    background-color: #F7E6E6;
    padding-bottom: 8px;
}


/* On Laptop */
@media screen and (min-width: 500px){
    nav{
        position: absolute;
        top: 560px;
        width: 310px;
    }
}

/* On Mobile */
@media screen and (max-width: 500px) {
    nav{
        position: fixed;
        bottom: 95px;
    }
    nav table {
        width: 310px;
        height: 80px;
        border: none;
    }
    
    nav table td {
        width: 77px;
        text-align: center;
    }
}