/* On Both */
nav ul{
    list-style: none;
    padding: 0;
}
nav ul li {
    position: relative;
    display: inline-block;
    padding: 3px; 
}
nav ul li a {
    text-align: center;
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: underline; 
}
/* On Laptop */
@media screen and (min-width: 375px){
    nav{
        position: absolute;
        top: 630px;
        width: 310px;
    }
}

/* On Mobile */
@media screen and (max-width: 375px) {
    nav{
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}