#profile-header{
    border-bottom: 3px solid black;
    padding-bottom: 5vw;
    background-color:#322424;
}

#greet-user{
    font-family: 'Open Sans', sans-serif;
    font-size: 50pt;
    text-transform: uppercase;
    letter-spacing: 2px;
}
h1,h3{
    text-align: center;
}

h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 30pt;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.collection-wrapper{
    margin-top: 20pt;
}

#logout-button{
    border: 3px solid #7E4F4F;
    background: white;
    padding: 20px;
    margin-top: 18px;
    float: right;
    text-transform: uppercase;
    cursor: pointer;
}

figcaption{
    font-family: 'Open Sans', sans-serif;
    font-size: 20pt;
}

.col-md-3 a{
    color: black;
    text-transform: lowercase
}

.col-md-3 a:hover{
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}
.center{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top:10px;
        width: 30%;
        border-radius: 50%;
}
.edit-profile{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    width: 30%;
    background-color: #DFD1D1;
    color: #9F7676;
    font-weight: bold;
    border:none;
}
.log-out{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:15px;
    width: 30%;
    background-color: #9F7676;
    color:white;
    font-weight: bold;
    border:none;
}